POSTGRES_DB=simops
POSTGRES_USER=simops
POSTGRES_PASSWORD=simops
POSTGRES_PORT=5434
BACKEND_PORT=8000
FRONTEND_PORT=8080
SIMULATOR_INTERVAL_SECONDS=5
SIMULATOR_FAILURE_RATE=0.25
SIMULATOR_BURST_RATE=0.15
SIMULATOR_BURST_MIN_SIZE=3
SIMULATOR_BURST_MAX_SIZE=6
SIMULATOR_SERVICE_NAMES=payments-api,auth-api,inventory-worker
SIMULATOR_ENVIRONMENT=lab
SIMULATOR_MAX_RANDOM_DELAY_MS=250
